.wrapper {
  display: grid;
}
.headerWrp {
  /* background-color: rgba(251, 244, 247, 0.976); */
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.236);
  box-shadow: 0px 1px 3px #6d035f1f, 0px 0px 5px rgba(114, 40, 121, 0.06),
    0px 0px 8px rgba(0, 0, 0, 0.16);
}
.navList {
  display: flex;
  justify-content: space-around;
}
.headerNavLink {
  font-size: 1.2rem;
  color: black;
}
.headerNavLink:is(:hover, :focus) {
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
}
.headerNavLink.active {
  font-size: 1.3rem;
  color: rgb(227, 87, 180);
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
}
.headerNavLink.active:is(:hover, :focus) {
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
}
